[submodule "llm-o11y"]
	path = llm-o11y
	url = git@github.com:chechiachang/llm-o11y.git
[submodule "speckit-playground"]
	path = speckit-playground
	url = git@github.com:chechiachang/speckit-playground.git
[submodule "go-rag-playgound"]
	path = go-rag-playgound
	url = git@github.com:chechiachang/go-rag-playgound.git
[submodule "k8sgpt-playground"]
	path = k8sgpt-playground
	url = git@github.com:chechiachang/k8sgpt-playground.git
[submodule "etcd-playground"]
	path = etcd-playground
	url = git@github.com:chechiachang/etcd-playground.git
[submodule "rag-workshop"]
	path = rag-workshop
	url = git@github.com:chechiachang/rag-workshop.git
[submodule "gemini-playground"]
	path = gemini-playground
	url = git@github.com:chechiachang/gemini-playground.git
[submodule "mcp-playground"]
	path = mcp-playground
	url = git@github.com:chechiachang/mcp-playground.git
[submodule "n8n-playgound"]
	path = n8n-playgound
	url = git@github.com:chechiachang/n8n-playgound.git
[submodule "genai-playground"]
	path = genai-playground
	url = git@github.com:chechiachang/genai-playground.git
[submodule "vault-playground"]
	path = vault-playground
	url = git@github.com:chechiachang/vault-playground.git
[submodule "nextjs-playground"]
	path = nextjs-playground
	url = git@github.com:chechiachang/nextjs-playground.git
[submodule "k8s-playground"]
	path = k8s-playground
	url = git@github.com:chechiachang/k8s-playground.git
[submodule "istio-playground"]
	path = istio-playground
	url = git@github.com:chechiachang/istio-playground.git
[submodule "circle-ci-playground"]
	path = circle-ci-playground
	url = git@github.com:chechiachang/circle-ci-playground.git
[submodule "elasticsearch-playground"]
	path = elasticsearch-playground
	url = git@github.com:chechiachang/elasticsearch-playground.git
[submodule "terraform-playground"]
	path = terraform-playground
	url = git@github.com:chechiachang/terraform-playground.git
[submodule "chef-playground"]
	path = chef-playground
	url = git@github.com:chechiachang/chef-playground.git
[submodule "kafka-playground"]
	path = kafka-playground
	url = git@github.com:chechiachang/kafka-playground.git
[submodule "argocd-playground"]
	path = argocd-playground
	url = git@github.com:chechiachang/argocd-playground.git
[submodule "terraform-30-days"]
	path = terraform-30-days
	url = git@github.com:chechiachang/terraform-30-days.git
